<form method="get" action="/items">
    <button type="submit" class="button" value="See all Items">See all Items</button>
    </form>
<br>
<form method="get" action="/items/new">
    <button type="submit" class="button" value="Sale Item">Sale Item</button>
    </form>
<br>
<form method="post" action="/user/<%=current_user.id%>/signout">
    <button type="submit" class="button" value="sign-out">Sign-out</button>
    </form>
<br>
<form method="get" action="/user/<%=current_user.id%>/items">
    <button type="submit" class="button" value="your items">Your Items</button>
    </form>
<br>
<br>
<br>
<br>

<% @user.items.each do |ui| %>
    Item: <%= ui.name %>
    <br>
    price: <%= ui.price %>
        <br>
    Description: <%= ui.description %>
        <br>
        <br>
    <form method="post" action="/items/<%= ui.id %>">
    <input id="hidden" type="hidden" name="_method" value="Delete">
    <input type="submit" value="delete">
    </form>
    <form method="get" action="/items/<%= ui.id %>/edit">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="submit" value="Edit">
    </form>
    <br>
    <br>
    <br>


    <% end %>