<form method="get" action="/items">
    <button type="submit" class="button" value="See all Items">See all Items</button>
    </form>
<br>
<form method="get" action="/items/new">
    <button type="submit" class="button" value="Sale Item">Sale Item</button>
    </form>
<br>
<form method="post" action="/user/<%=current_user.id%>/signout">
    <button type="submit" class="button" value="Signout">Sign-out</button>
    </form>
<br>
<form method="get" action="/user/<%=current_user.id%>/items">
    <button type="submit" class="button" value="your items">Your Items</button>
    </form>
<br>
<br>
<br> 

<% User.neighborhoods.each do |n| %>
    <h1> <%=n.capitalize%> </h1>
    <% i = 1 %>
<% @items.each do |item| %>
    <% if item.user.neighborhood == n %>
        <%= i  %>.
        <% i += 1 %>
        <br>
    name: <%= item.user.username.capitalize %>
    <br>
    Item for Sale: <%= item.name %>
        <br>
    price: <%= item.price %>
        <br>
    description: <%= item.description %>
        <br>
        
        <br>
        <br>
        <br>
        <br>
    
    <% end %>
    <% end %>

 <% end %>