<form method="get" action="/items">
    <button type="submit" class="button" value="See all Items">See all Items</button>
    </form>
<br>
<form method="get" action="/items/new">
    <button type="submit" class="button" value="Sale Item">Sale Item</button>
    </form>
<br>
<form method="post" action="/user/<%=current_user.id%>/signout">
    <button type="submit" class="button" value="Signout">Sign-out</button>
    </form>
<br>
<form method="get" action="/user/<%=current_user.id%>/items">
    <button type="submit" class="button" value="your items">Your Items</button>
    </form>
<br>
<br>
<br> 





<h1> update form</h1>

<form method="post" action="/items/<%=@item.id%>">
<input id="hidden" type="hidden" name="_method" value="patch">

    <label for:"name">Item for Sale:</label>
    <br>
    <input id="name" type=text name="name" placeholder="item" value="<%= @item.name%>" >
        <br>
        <br>

    <label for:"price">Price:</label>
    <br>
    <input id="price" type=text name="price" placeholder="Enter Price" value="<%= @item.price%>">
        <br>
        <br>

    <label for:"Description">Item Description:</label>
    <br>
    <textarea id="Description" name="description" rows="10" cols="50" ><%= @item.description%></textarea>
        <br>
        <br>

        <input type=submit value="update">

 </form>